@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-55vw); /* Ajusta este valor según el ancho de tu carrusel */
    }
}

.animateScroll {
    animation: scroll 50s linear infinite;
    
}
